﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Security-Policy" content="script-src 'unsafe-inline'; script-src-elem 'unsafe-inline'">
    <title>eShopOnContainers Identity</title>
    <link rel="icon" type="image/x-icon" href="~/favicon.ico" />
    <link rel="shortcut icon" type="image/x-icon" href="~/favicon.ico" />
    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    @* <div class="navbar navbar-inverse fixed-top es-header"> *@
    @*     $1$ <div class="container"> #1# *@
    @*     $1$     <div class="row"> #1# *@
    @*     $1$         <div class="navbar-header col-sm-6 col-xs-8"> #1# *@
    @*     $1$             <a asp-controller="Home" asp-action="ReturnToOriginalApplication" asp-route-returnUrl="@ViewData["ReturnUrl"]"> #1# *@
    @*     $1$                 <div class="navbar-brand"></div> #1# *@
    @*     $1$             </a> #1# *@
    @*     $1$         </div> #1# *@
    @*     $1$     </div> #1# *@
    @*     $1$ </div> #1# *@
    @* </div> *@

    <div>
        @RenderBody()
        <br /><br />
        @* <footer> *@
        @*     <div class="container"> *@
        @*         <div class="row"> *@
        @*             <div class="col-sm-6"> *@
        @*                 <br><div class="brand"></div> *@
        @*             </div> *@
        @*             <div class="col-sm-6"> *@
        @*                 <img class="text hidden-xs" src="~/images/main_footer_text.PNG" width="335" height="26" alt="footer text image" /> *@
        @*             </div> *@
        @*         </div> *@
        @*     </div> *@
        @* </footer> *@
    </div>


    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
